body {
  background-color: #FDFDFF;
}

.App {
  font-family: "Helvetica Neue 45 Light", sans-serif;
  font-size: 16px;
  
}

h1,h2,h3 {
  font-size: 16px;
  font-weight: 400;
}

h1 {
  color: #393D3F;
  position: absolute;
  top: 48px;
  left: 16px;
}

li {
  display: inline-block;
  margin-left: -2em; 
  width: calc(100% + 1em);
}

a {
  color: #4f57e2;
}

.news {
  background-color: #ff4343;
  color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 32px;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    z-index: 1000;
    white-space: nowrap;
    animation: shift-left 40s linear infinite;
}

.content {
  width: 100%;
  max-width: 100%;
  color: #393D3F;
  margin: 5rem 1rem;
}

.row {
  position: absolute;
}

#contact {
  margin-bottom: 30px;
  margin-right: 16px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (max-width: 576px) {
  .content {
    margin-right: 1rem;
  }
  #projects {
    padding-top: 20px;
  }
  #contact {
    margin-top: -15px;
  }
}

@keyframes shift-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-5000px);
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

