body {
  background-color: #FDFDFF;
  font-family: 'BrutalType', sans-serif;
}

.App {
  font-family: 'BrutalType', sans-serif;
  font-size: 16px;
  
}

h1,h2,h3 {
  font-size: 16px;
  font-weight: 400;
}

h1 {
  color: #393D3F;
  position: absolute;
  top: 16px;
  left: 16px;
  font-family: 'BrutalType-Bold', sans-serif;
}

h2 {
  font-family: 'BrutalType-Bold', 'BrutalType', sans-serif;
}

li {
  display: inline-block;
  margin-left: -2em; 
  width: calc(100% + 1em);
}

a {
  color: #000000;
}

.news {
  background-color: #ff4343;
  color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 32px;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    z-index: 1000;
    white-space: nowrap;
    animation: shift-left 40s linear infinite;
}

.content {
  width: 100%;
  max-width: 100%;
  color: #393D3F;
  margin: 3rem 1rem;
}

.row {
  position: absolute;
}

#contact {
  margin-bottom: 30px;
  margin-right: 16px;
}

.footer {
  background-color: #000;
  opacity: 0.3;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-icons {
  display: flex;
  justify-content: center;
}

.footer-icons a {
  color: #fff;
  font-size: 24px;
  margin: 0 10px;
  }
  
  .footer-icons a:hover {
  color: #000;
  }

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (max-width: 576px) {
  .content {
    margin-right: 1rem;
  }
  #projects {
    padding-top: 20px;
  }
  #contact {
    margin-top: -15px;
  }
}

@keyframes shift-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-5000px);
  }
}

@font-face {
  font-family: 'BrutalType';
  src: url('/public/fonts/BrutalType.ttf') format('truetype');
}

@font-face {
  font-family: 'BrutalType-Medium';
  src: url('/public/fonts/BrutalType-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'BrutalType-Bold';
  src: url('/public/fonts/BrutalType-Bold.ttf') format('truetype');
}